*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: #666;
}
h1{
    font-size: 3rem;
    margin-bottom: .5rem;
}
h2{
    font-size: 2rem;
    margin-bottom: .3rem;
}
h3{
    font-size: 1.5rem;
    margin-bottom: .2rem;
}
figcaption{
    text-transform: uppercase;
    font-size: .6rem;
    margin: 1em 0;
    letter-spacing: .2em;
}